{% extends "base.html" %} {% load static %}
{% block title %} User profile {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <div class="col-md-4">Name: {{ user.username }}</div>
            <br>
            {% if profile.avatar %}
            <div class="col-md-4">头像</div>
            <img src="{{ profile.avatar.url }}" style="max-width: 20%; border-radius: 15%;" class="col-md-4">
            {% else %}
            <h5 class="col-md-4">暂无头像</h5>
            {% endif %}
            <br>
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <!-- avatar -->
                <div class="form-group col-md-4">
                    <label for="avatar">Upload avatar</label>
                    <input type="file" class="form-control-file" id="avatar" name="avatar">
                </div>
                <!-- phone -->
                <div class="form-group col-md-4">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{ profile.email }}">
                </div>
                <!-- bio -->
                <div class="form-group col-md-4">
                    <label for="bio">Bio</label>
                    <textarea type="text" class="form-control" id="bio" name="bio" rows="12">{{ profile.bio }}</textarea>
                </div>
                <!-- 提交按钮 -->
                <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Done</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}