.sidenav {
    position: fixed;
    height:calc(100vh - 50px);
    z-index:9999;
    top:0;
    left: -200px;
    width: 200px;
    background-color: #e3f2fd;
    overflow-x: :hidden;
    padding-top:20px;
    transition: width 1s;
}
.addWidth {
    left: 0;
    
}
.sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:20px;
    color: gray;
    display:block;
}
.sidenav h3 {
    padding:6px 8px 6px 16px;
}
.sidenav a:hover{
    color:#f1f1f1;
}	

.main{
    margin-left:160px;
    padding: 0px 10px;
}