{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Chat Entry{% endblock %}
{% block content %}
		<form id="chat_form" method="post" action="" >
			{% csrf_token %}

			<div class="form-group">
				<label for="room_name">What chat room would you like to enter?</label>
				<input type="text" class="form-control" id="room_name" name="room_name" required />
			</div>
			<div class="form-group">
				<label for="user_name">What's your name?</label>
				<input type="text" class="form-control" id="user_name" name="user_name" required />
			</div>
			<button class="btn btn-primary" id="room-name-submit" type="submit">Enter</button>
		</form>
<script>document.querySelector('#room_name').focus();</script>

{% endblock content %}