{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/cal_styles.css' %}">
	<title>{% block title %} {% endblock %}</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	{% bootstrap_javascript %}
	{% bootstrap_css %}
	<script src="{% static 'layer/layer.js' %}"></script>
</head>
<body>

	{% block content %}
	{% endblock content %}



	{% block script %}
	{% endblock %}
</body>
</html>