{% extends 'article/cal_base.html' %}
{% load bootstrap4 %}
{% block title %}
Event
{% endblock %}

{% block content %}

<form method="post">
	{% csrf_token %}
	<table class="form form-table">
		{{ form }}
		
		<tr>
			<td colspan="1"><a class="btn btn-primary" href="{% url 'article:calendar' %}"> Back </a></td>
			{% if user.is_authenticated %}
			<td colspan="1"><button type="submit" class="btn btn-primary" id="right"> Submit </button></td>
			{% endif %}
		</tr>
	</table>
</form>
{% endblock %}