{% load bootstrap4 %}
{% load webpush_notifications %}
{% load static %}
<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">

<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="vapid-key" content="{{ vapid_key }}">
    {% if user.id %}
    <meta name="user_id" content="{{ user.id }}">
    {% endif %}
    <!-- 预留网站标题的位置 -->
    <title>{% block title %}{% endblock %}</title>
    <!-- 引入bootstrap的css文件 -->
    {% bootstrap_css %}
    {% webpush_header %}
    <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/fullcalendar/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    {% bootstrap_javascript %}
    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'plugins/prism/prism.css' %}">
    <!--script src="{% static 'sticky_sidebar/jquery.sticky-sidebar.min.js' %}"></script>-->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'layer/layer.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'plugins/fullcalendar/main.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js" integrity="sha512-RdSPYh1WA6BF0RhpisYJVYkOyTzK4HwofJ3Q7ivt/jkpW6Vc8AurL1R+4AUcvn9IwEKAPm/fk7qFZW3OuiUDeg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;

        }
        
        #wrapper {
            min-height: 100%;
            margin-bottom: -60px;
        }
        
        #footer,
        #push {
            height: 50px;
        }
        
    </style>
    <link rel="stylesheet" href="{% static 'plugins/xterm/xterm.css' %}" />
    <script src="{% static 'plugins/xterm/xterm.js' %}"></script>
    {% block css %}{% endblock css %}
</head>

<body>
    <!-- 引入导航栏 -->
    {% include 'header.html' %}
    <!-- 预留具体页面的位置 -->

        <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    {% for col in columns %}
                    {% ifequal col.title 'Home' %}
                    {% if col.id|slugify == column %}
                    {% include 'banner.html' %}
                    {% endif %}
                    {% endifequal %}
                    {% endfor %}
                    {% block content %}{% endblock content %}
                    {% block script %}{% endblock script %}
                </div>    
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

                    {% include 'sidebar.html' %}
                    
                </div> 
            </div>    
        </div>
        <div id="push"></div>     
    </div>
    <!-- 引入注脚 -->
    {% include 'footer.html' %}

    {% include 'back_to_top_func.html' %}

    {% if messages %}
    <script>
        {% for msg in messages %}
        alert('{{ msg.message }}')
        {% endfor %}
    </script>
    {% endif %}
    <!--<script src="{% static 'js/registerSw.js' %}"></script>-->
    </body>
<script src="{% static 'js/site.js' %}"></script>
</html>
