{% load bootstrap4 %}

<!-- Footer -->
<div>
    <br><br><br>
</div>
<script>
  var template = document.getElementById('content').outerHTML;
  var searchBar = document.getElementById('search').outerHTML;
  var searchResults = document.getElementById('search_results');
  var element = eval('`' + template + '`');
//  console.log(element);
//  console.log(typeof(element));
//  console.log(typeof(template));
</script>
<nav class="navbar navbar-expand navbar-light bg-light fixed-bottom" id="footer">
    <div class="container">
      <div class="collapse navbar-collapse" >
        
         <ul class="navbar-nav mr-auto"> 
            <li class="nav-item">
              <button type="button" id="ShowContent" class="btn bbtn-link">
              <i class="fas fa-bars"></i></button>
            </li>&nbsp;
            
            <li class="nav-item dropup" >
            <a class="nav-link" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-link"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: auto;">
                
                <a class="dropdown-item" href="https://www.ustc.edu.cn" target="_blank">
                  <i class="fas fa-university"></i>&nbsp;USTC
                </a>

                <a class="dropdown-item" href="https://www.google.com/maps/@31.8378417,117.2666593,19z" target="_blank"><i class="fas fa-location-arrow"></i>&nbsp;Location
                </a>
              <a class="dropdown-item" href="mailto:example@163.com"><i class="fas fa-envelope"></i>&nbsp;Contact us
              </a>
            </div>
            </li>&nbsp;
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'article:article_create' %}"><i class="fas fa-user-edit"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i></a>
            </li>
            {% endif %}
            <li class="nav-item">
              <button type="button" id="ShowSearchBar" class="btn bbtn-link">
                <i class="fas fa-search"></i></button>
            </li>&nbsp;
         </ul>
         
          <span style="font-size: 14px; color: grey; display: inline-block; float: none;text-align: right;">
            Copyright &copy; 2021 Yu Li
          </span>

        </div>

    </div>
</nav>

<script>
//  $("#sidebarToggler").click(function () {
//    var sideBar = $("#sideBar");
//    if (!sideBar.hasClass("addWidth")) {
//      $("#sideBar").addClass("addWidth");
//    }
//    else {
//      $("#sideBar").removeClass("addWidth");
//    }
//  })
  
  $("#ShowContent").click(function () {
    //console.log(element);
    var dialog = bootbox.dialog({
      title: "Contents",
      message: template,
      size: 'small'
    })
    dialog.on('click', function(){
      dialog.modal('hide');
    })    
  })
  
  $("#ShowSearchBar").click(function () {
//    console.log(element);
//    var frm = $('#search');
//    var frm1 = $('#search_results');
    var dialog = bootbox.dialog({
      message: searchBar,
      size: 'large',
      closeButton: false,
      onEscape: true,
      scrollable: true,
      buttons: {
        Close:{
          className: 'btn-primary'
        }
      }
    });
    var frm2 = dialog.find('form');
    dialog.on('shown.bs.modal', function(){
      console.log("working");
      console.log(searchBar);
      frm2.on('submit', function(e){
        console.log("submitted");
        e.preventDefault();
        search_results();
        console.log('done');
      });
    });
    function search_results () {
    $.ajax({
      url : frm2.attr('action'),// the endpoint
      type : frm2.attr('method'),// http method
      data : frm2.serialize(), // data sent with the request
      // handle a successful response
      success : function(response) {
        frm2[0].reset();
        console.log(response);
        var hint='';
        if (response.error_msg) {
          hint += '<br>';
          searchResults.innerHTML = response.error_msg;
        }
        else {
          hint +='<p class="mt-4"><strong>Search results:</strong></p>';
          searchResults.innerHTML = response.results;
        }
        dialog.find('.modal-body').html(searchBar+hint+searchResults.outerHTML);

        frm2 = dialog.find('form');
        frm2.on('submit', function(e){
          console.log("submitted");
          e.preventDefault();
          search_results();
          console.log('done');
        });

      },
      // handle a non-successful response
      error : function(xhr,errmsg,err) {
      }
    });
    return false;
  };
  })
</script>
