{% load bootstrap4 %}

<!-- Footer -->
<div>
    <br><br><br>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between fixed-bottom" id="footer">
    <div class="container">
      <div class="collapse navbar-collapse">
        
         <ul class="navbar-nav">
            <li class="nav-item">
              <button type="button" id="sidebarToggler" class="btn bbtn-link">
                &nbsp;<i class="fas fa-folder"></i>&nbsp; Sidebar</button>
            </li>
            
          <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Links
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://www.ustc.edu.cn" target="_blank">USTC</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
            </li>&nbsp;
            

         </ul>
        
        </div>
      
      <font size="2" color="grey" class="text-grey" style="display: inline-block; float: none;text-align: center;">Copyright &copy; Yu Li 2021</font>
      
    </div>
</nav>
<script>
$("#sidebarToggler").click(function () {
      var sideBar = $("#sideBar");
      if (!sideBar.hasClass("addWidth")) {
        $("#sideBar").addClass("addWidth");
}
      else {
        $("#sideBar").removeClass("addWidth");
}
})
</script>
