{% load bootstrap4 %}

<!-- Footer -->
<div>
    <br><br><br>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom" id="footer">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        
         <ul class="navbar-nav mr-auto" >
            <li class="nav-item">
              <button type="button" id="sidebarToggler" class="btn bbtn-link">
                <i class="fas fa-bars"></i></button>
            </li>
            
          <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Links
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://www.ustc.edu.cn" target="_blank">USTC</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
            </li>&nbsp;
            

         </ul>

          <span style="font-size: 14px; color: grey; display: inline-block; float: none;text-align: right;">
            Copyright &copy; Yu Li 2021
          </span>

        </div>

    </div>
</nav>
<script>
$("#sidebarToggler").click(function () {
      var sideBar = $("#sideBar");
      if (!sideBar.hasClass("addWidth")) {
        $("#sideBar").addClass("addWidth");
}
      else {
        $("#sideBar").removeClass("addWidth");
}
})
</script>
