<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" style="background-color: #e3f2fd;">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- 导航入口 -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        {% for column in columns %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article:article_list' %}?column={{ column.id }}">{{ column }}</a>
        </li>
        {% endfor %}
      </ul>

        <ul class="navbar-nav ml-auto">

        <!-- Django的 if 模板语句 -->
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article:article_create' %}">Post</a>
        </li>
          {% endif %}
        <!-- 如果用户已经登录，则显示用户名下拉框 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello, {{ user.username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href='{% url "users:edit" user.id %}'>Profile</a>
            <a class="dropdown-item" href="#" onclick="user_delete()">Delete</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
          </div>
        </li>

        <form 
          style="display:none;" 
          id="user_delete"
          action="{% url 'users:delete' user.id %}" 
          method="POST"
        >
          {% csrf_token %}
          <button type="submit">Submit</button>
        </form>
        <script>
          function user_delete() {
            // 调用layer弹窗组件
//            layer.open({
//              title: "Warning",
//              content: "Are you sure to delete this user?",
//              yes: function(index, layero) {
//                $('form#user_delete button').click();
//                layer.close(index);
//              },
//            })
            bootbox.confirm({
              title: "Warning",
              message: "Are you sure to delete this user?",
              buttons: {
                cancel: {label: 'No',className: 'btn-secondary'},
                confirm: {label: 'Yes',className: 'btn-danger'}
              },
              callback: function (result) {
                if (result) {
                  $('form#user_delete button').click();
                }
              }
            })
          }
        </script>
          <!-- 如果用户未登录，则显示 “登录” -->
        {% else %}
        <!--li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Login</a></li-->
          
            <button id="login-btn" class="btn btn-link" type="button" name="button"><i class="fas fa-sign-in-alt"></i></button>
          <div class="modal fade" tabindex="-1" role="dialog" id="login">
            <div class="modal-dialog" role="document">
              <div class="modal-content login-modal-content"></div>
            </div>
          </div>
          <script type="text/javascript">
            $(function () {
              // Log in button
              $("#login-btn").modalForm({
                modalID: "#login",
                modalForm: ".login-modal-content form",
                formURL: "{% url 'users:login' %}"
              });
            });  
          </script>

        {% endif %}
        </ul>

    </div>

  </div>
  
</nav>

<div class="container mt-4">

    <div class='jumbotron'>
      <h1 class="display-4">This is a demo.</h1>

    </div>


</div>

<!--to show search bar and search results on bootbox-->
<div class="container" style="display:none;">
  <form id="search" method="get" action="{% url 'article:search' %}">
    <div class="input-group">
      <input id="search-bar" type="text" class="form-control" name="search" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </form>
  <div id='search_results'></div>
</div>
<div id="sideBar" class="sidenav">
  <br>
  <h3 >Contents</h3>

  {% if toc %}
  <p>
    {{ toc|safe }} 
  </p>
  {% else %}
  {% for column in columns %}
    <a href="{% url 'article:article_list' %}?column={{ column.id }}">{{ column }}</a>
  {% endfor %}
  {% endif %}
</div>
