{% load static %}
<!--style>
  .sidebar{
    will-change: min-height;
  }
  
  .sidebar__inner{
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
  }
</style>-->
<!--div id="sidebar" class="sidebar"> -->
  <!--div class="sidebar__inner"> -->
<div class="card mb-4">
<h3 class="card-header">Contents</h3>
<div class="card-body" id="content" style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif;">
  {% if toc %}
  <p>
    {{ toc|safe }} 
  </p>
  {% else %}
  {% for column in columns %}
    <p><a style="color: black;" href="{% url 'article:article_list' %}?column={{ column.id }}">{{ column }}</a></p>
  {% endfor %}
  {% endif %}
</div>
</div>
{% include 'article/cal_modal.html' %}

{% block script %}

<!--script type="text/javascript">
  $('#sidebar').stickySidebar({
    topSpacing: 20,
    bottomSpacing: 20,
  });
</script> -->
{% endblock script %}